body {
    margin: 0;
    padding: 0;
}
/* HEADER STYLES */
/* .header {
    height: 40px;
    width: 100%;
    padding: 30px 10px 30px 10px;
    background: palevioletred;
    margin: 0;
    display: flex;
    text-align: right;
    flex-direction: row;
    
} */

/* .sign-up-container{
    height: 36px;
    width: 291px;
    /* padding-left: 1098px; 
    float: right;
    padding-top: 10px;
    /* padding-right: 30px; 
    padding-bottom: 14px;
    margin:0;
    order:1;} */

/* .sign-textbox{
    width: 80px;
} */
/* .existing-account{
    height: 18px;
    width: 168px;
    color: #505050;
    font-size: 12px;
    margin-bottom: 0;
} */

/* .forgot-password{
    height: 16px;
    width: 169px;
    color: #0077C5;
    font-size: 12px;
} */

.sign-in-button{
    height: 32px;
    width: 60px;
    /* padding: 20px 0px 20px 0px; */
    border: 1px 1px 1px 1px;
    fill: #0077C5;
    border-color: #4C4C4C;
    color: #FFFFFF;
    font-size: 13.5px;
    font-weight: lighter;
    order:2;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.form {
    height: 626px;
    width: 318px;
    padding: 30px 30px 30px 30px;
    border: 1px 1px 1px 1px;
    margin: 522px 0px 522px 0px;
    border-style: solid;
    border-color: #C7C7C7;
    position: 523 122;
    display: block;
    margin: auto;
}